.Map {
  h2 {
    font-size: 4vw;
  }
  .mapouter {
    position: relative;
    text-align: right;
    height: 50vh;
    width: 100%;
  }
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
  }
}
